@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
        height: calc(100vh - 60px);
        overflow-y: hidden;
    }
    .left-section {
        order: 2;
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        gap: 0;  /* Usuwamy odstępy między obrazami */
    }
    .left-section img {
        min-width: 100%;  /* Ustawiamy szerokość obrazów na 100% szerokości ekranu */
        height: auto;
        scroll-snap-align: center;
    }
    .right-section {
        order: 1;
        text-align: center;
    }
    .right-section h1 {
        font-size: 1.5em;
    }
    .right-section .title {
        font-size: 1.2em;
    }
    .right-section .description {
        font-size: 0.9em;
    }
    .download-section {
        text-align: center;
        order: 3;
        width: 100%;
        margin-top: 20px;
    }
    .download-links {
        justify-content: center;
        gap: 10px;
    }
}
